@import "./scss/colors.scss";

.hero {
  height: 720px;
  position: relative;
  background-color: $light-green;

  &__logo {
    position: absolute;
  }

  &__leaves {
    width: 100vw;
    position: absolute;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__text {
    width: 80vw;
    margin-top: 3em;
    position: absolute;
    color: white;
  }

  &__plant-person {
    width: 100%;
    margin-top: 400px;
  }

  @media only screen and (min-width: 992px) {
    display: none;
  }
}

.hero--desktop {
  height: 30em;
  display: none;
  position: relative;
  flex-direction: column;
  background-color: $light-green;

  &__logo {
    position: absolute;
  }

  &__right-leaves {
    right: 0;
    height: 30em;
    position: absolute;
  }

  &__left-leaves {
    height: 30em;
    position: absolute;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__text {
    width: 23vw;
    margin-top: 3em;
    position: absolute;
    color: white;
  }

  &__plant-person {
    height: 27em;
    margin-left: 44.4em;
    position: absolute;
  }

  @media only screen and (min-width: 992px) {
    display: flex;
  }
}

.button {
  width: 300px;
  border: none;
  padding: 16px;
  display: flex;
  font-size: 1em;
  cursor: pointer;
  border-radius: 32px;
  font-weight: lighter;
  justify-content: center;

  &--outlined {
    color: $dark-green;
    background-color: transparent;
    border: 1px solid $dark-green;
  }

  &--filled {
    background-color: $dark-green;
    color: white;
  }

  &__icon {
    padding-left: 16px;
  }

  @media only screen and (min-width: 992px) {
    width: 973px;
  }
}

.form {
  color: $dark-gray;

  &__option {
    margin-bottom: 64px;
  }

  &__select {
    width: 300px;
    color: $gray;
    padding: 14px;
    border-radius: 32px;
    margin-top: 16px;
    border: $gray 1px solid;
  }

  &__image {
    width: 100px;
  }

  @media only screen and (min-width: 992px) {
    form {
      display: flex;
      justify-content: space-between;
    }
  }
}

.no-results {
  &__text {
    color: $gray;
  }

  &__illustration {
    display: flex;
    margin-top: 48px;
    justify-content: center;

    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  &__image {
    width: 100px;
  }

  @media only screen and (min-width: 992px) {
    display: flex;
    flex-direction: column;
  }
}

.picks {
  &__image {
    width: 145px;
  }

  &__text {
    color: $darker-green;
  }

  &__cards {
    display: flex;
    overflow: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    width: fit-content;
    white-space: nowrap;

    @media only screen and (min-width: 992px) {
      flex-wrap: wrap;
    }
  }

  &__card {
    width: 250px;
    height: 300px;
    padding: 16px;
    display: flex;
    margin-right: 16px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    @media only screen and (min-width: 992px) {
      width: 200px;
      height: 250px;
      margin-bottom: 16px;
    }
  }

  &__plant {
    width: 140px;
    height: 180px;
    align-self: center;
  }

  &__data {
    color: $dark-green;
    padding-left: 16px;
    margin-top: 32px;

    h3 {
      margin: 0;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 10px;
  }
}
