@import "./general.scss";

@media only screen and (min-width: 992px) {
  .hero,
  .container {
    display: none;
  }

  .hero--desktop,
  .container--desktop {
    display: flex;
  }
}

/* Small devices */
@media only screen and (max-width: 600px) {
  .hero {
    display: flex;
  }

  .container {
    display: inherit;
  }

  .hero--desktop,
  .container--desktop {
    display: none !important;
  }
}

.hero--desktop {
  height: 30em;
  position: relative;
  flex-direction: column;
  background-color: $light-green;

  &__logo {
    position: absolute;
  }

  &__right-leaves {
    right: 0;
    height: 30em;
    position: absolute;
  }

  &__left-leaves {
    height: 30em;
    position: absolute;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__text {
    width: 23vw;
    margin-top: 3em;
    position: absolute;
    color: white !important;
  }

  &__plant-person {
    height: 27em;
    margin-left: 44.4em;
    position: absolute;
  }
}

.hero {
  height: 48em;
  position: relative;
  background-color: $light-green;

  &__logo {
    position: absolute;
  }

  &__leaves {
    width: 100vw;
    position: absolute;
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__text {
    width: 80vw;
    margin-top: 3em;
    position: absolute;
    color: white !important;
  }

  &__plant-person {
    width: 22em;
    margin-top: 25.4em;
  }
}

.button {
  width: 70vw;
  border: none;
  padding: 1em;
  display: flex;
  font-size: 1em;
  cursor: pointer;
  border-radius: 2em;
  font-weight: lighter;
  justify-content: center;

  &--outlined {
    color: $dark-green;
    background-color: transparent;
    border: 1px solid $dark-green;
  }

  &--filled {
    background-color: $dark-green;
    color: white;
  }

  &__icon {
    padding-left: 1em;
  }
}

.form {
  color: $dark-gray;

  &__option {
    margin-bottom: 4em;
  }

  &__select {
    width: 78vw;
    color: $gray;
    padding: 0.8em;
    border-radius: 2em;
    margin-top: 1em;
    border: $gray 1px solid;

    @media only screen and (min-width: 992px) {
      width: 17vw;
    }
  }

  &__image {
    width: 26vw;

    @media only screen and (min-width: 992px) {
      width: 7vw;
    }
  }

  @media only screen and (min-width: 992px) {
    form {
      display: flex;
      justify-content: space-between;
    }
  }
}

.no-results {
  &__text {
    color: $gray;
  }

  &__illustration {
    display: flex;
    margin-top: 3em;
    justify-content: center;

    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  &__image {
    width: 24vw;

    @media only screen and (min-width: 992px) {
      width: auto;
      height: 33wh;
    }
  }

  @media only screen and (min-width: 992px) {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.picks {
  &__image {
    width: 40vw;
  }

  &__text {
    color: $darker-green;
  }

  &__cards {
    display: flex;
    overflow: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: fit-content;
    white-space: nowrap;
  }

  &__card {
    width: 70vw;
    height: 40vh;
    padding: 1em;
    display: flex;
    margin-right: 1em;
    border-radius: 1em;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  }

  &__plant {
    width: 14em;
    height: 14em;
    align-self: center;
  }

  &__data {
    color: $dark-green;
    padding-left: 1em;
    margin-top: 2em;

    h3 {
      margin: 0;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 7vw;
  }
}
