@import "./scss/variables.scss";

.container {
  padding: $spacing-4;

  &--results {
    background-color: $light-gray;
  }

  @media only screen and (min-width: $media-query-desktop) {
    padding: 57px 285px 53px 270px;
  }
}

.hidden {
  display: none;
}

.box {
  width: 219px;
  line-height: 1.6;
}

h1 {
  font-size: 40px;
  margin-bottom: $spacing-2;

  @media only screen and (min-width: $media-query-desktop) {
    font-size: 70px;
    margin-bottom: $spacing-3;
  }
}

h2 {
  font-size: 45px;
}

h4 {
  font-weight: normal;
}

p {
  font-size: 14px;
}

span {
  color: $dark-gray;
  font-weight: bold;
}

figure {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
}

ol {
  padding: 0;
  list-style: none;

  @media only screen and (min-width: $media-query-desktop) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}
