@import "./scss/colors.scss";

.container {
  padding: 2em 3em;

  &--results {
    background-color: $light-gray;
  }

  @media only screen and (min-width: 992px) {
    padding: 3em 18em;
  }
}

.hidden {
  display: none;
}

h1 {
  font-size: xxx-large;
}

span {
  color: $dark-gray;
  font-weight: bold;
}

p {
  width: 65vw;
  line-height: 1.6;

  @media only screen and (min-width: 992px) {
    width: 17vw;
  }
}
