$gray: #9f9f9f;
$dark-gray: #797979;
$light-gray: #f5f5f5;

$dark-green: #15573f;
$light-green: #75bc97;
$darker-green: #0c221b;

$salmon: #fd9872;

$spacing-1: 10px;
$spacing-2: 16px;
$spacing-3: 22px;
$spacing-4: 36px;
$spacing-5: 46px;
$media-query-desktop: 992px;

$card-desktop-width: 155px;
$plant-desktop-width: 130px;
$card-desktop-height: 201px;
$plant-desktop-height: 160px;
