@import "./scss/hero.scss";
@import "./scss/form.scss";
@import "./scss/picks.scss";
@import "./scss/button.scss";
@import "./scss/general.scss";
@import "./scss/variables.scss";
@import "./scss/no-results.scss";

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 0;
}
